/* Main Div */

body {
    background-color: #000;

}

/* Canvas with the game */
#board {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;

    border: 2px solid;
    border-radius: 5px;
    border-color: #eeefff;
}


/* Basic commands */
#commands {
    position: fixed;
    z-index: 1;
    left: 1%;
    top: 1%;
    text-align: center;
}

/* Advanced controls */
#panel {
    position: fixed;
    z-index: 2;

    padding: 50px 50px;

    width: 600px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px;

 }

.control {
    padding: 10px 10px;
    color: #ffffff;

    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.4);
}

.control:hover{
    background: rgba(0, 0, 0, 0.8);
}

.control .label {
    background: rgba(0, 0, 0, 0.2);
    padding: 2px 7px;
    border-radius: 3px;
}


.ocult  {
    display: none;
}


#panel input[type=range] { 
    vertical-align:top; 
}
